<div class = "container">
  <div class = "row justify-content-center">
    <footer class="col-md-6 text-center border-top border-bottom m-3">
      <p id="legal" class="center-block text-center m-3">
      <small>&copy;</small> <span class="copyright-year"></span>
      A Website by Nicolas Pinto.
      </p>
    </footer>
  </div>
</div>
