<footer class="text-center">
  <div class="container p-2 pb-0">
    <section class="mb-4">
      <h5 class="ArtistStatement">Contact</h5>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1 insta"
        href="#!"
        role="button"
        ><img src="../img/instagram.svg" alt="Instagram Logo"></a>
        <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1 google"
        href="mailto:doloresmdpprints@gmail.com"
        role="button"
        ><img src="../img/google.svg" alt="Instagram Logo"></a>
    </section>
  </div>
</footer>