{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} by Dolores Martinez{% endblock %}

{% block content %}
  <article class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h1 class="ArtistStatement">{{ headline }}</h1>
      </div>
    </div>
  </article>
  <article class="container text-center my-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
          {{ prose(post) }}
        </div>
    </div>
  </article>
{% endblock %}